<button mat-raised-button class="go_right" (click)="openDialog()">Nuevo</button>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" [(ngModel)]="filter">
</mat-form-field>


<div class="mat-elevation-z8">
  <table mat-table
         [dataSource]="dataSource" matSort multiTemplateDataRows>
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>
  
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-description">
            <form class="example-form" #f="ngForm" >
              <mat-error *ngIf="!go">
                {{ msj }}
              </mat-error>
              <mat-form-field class="example-full-width">
                <input name="motivo" matInput placeholder="Motivo" [value]="element.motivo" disabled="disabled" [(ngModel)]="motivo.motivo">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input name="desc" matInput placeholder="Descripción" [value]="element.desc" [(ngModel)]="motivo.desc">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input name="tipo" matInput placeholder="Tipo" [value]="element.tipo" [(ngModel)]="motivo.tipo">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input name="estado" matInput placeholder="Estado" [value]="element.estado" [(ngModel)]="motivo.estado">
              </mat-form-field>
            </form>
            <div class="go_right">
              <button mat-raised-button color="primary" (click)="update(motivo)">Editar</button>
              <button (click)=delete(element.motivo) mat-raised-button color="warn">Borrar</button>
            </div>
          </div>
        </div>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element; motivo.desc = element.desc; motivo.motivo = element.motivo; motivo.estado = element.estado; motivo.tipo = element.tipo; go=true ">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100, 200, 400]"></mat-paginator>
</div>